if SHIELD_CORNE_HANDWIRED_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne Handwired"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNE_HANDWIRED_LEFT || SHIELD_CORNE_HANDWIRED_RIGHT

config ZMK_SPLIT
    default y

endif
